/* Add these styles at the end of your existing CSS */
.bottom-fixed-mobile-menu {
    display: none;
    /* Remaining styles... */
}

@media screen and (max-width: 768px) {
    .bottom-fixed-mobile-menu {
        background-color: #fefefe;
        transition: all 0.5s;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-around;
        padding: 10px; /* Adjust as needed */
        z-index: 999;
    }

    .bottom-fixed-mobile-menu a {
        text-decoration: none;
        color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }

    .bottom-fixed-mobile-menu .material-symbols-rounded {
        font-size: 30px; /* Adjust as needed */
        margin-bottom: 4px; /* Adjust as needed */
        margin-left: 0; /* Resetting the left margin */
        margin-right: 0; /* Resetting the right margin */
    }
}
